import(igraph,RSQLite)
importMethodsFrom(AnnotationDbi,select)

importMethodsFrom(DBI,
                  "dbDriver",
                  "fetch"
)

importMethodsFrom(biomaRt,
                  "getBM",
                  "getSeq",
                  "useMart"
)

exportPattern("^[[:alpha:]]+")
