import(igraph, RSQLite)

importMethodsFrom(AnnotationDbi,
                  "select"
)

importMethodsFrom(DBI,
                  "dbDriver",
                  "fetch"
)

exportPattern("^[[:alpha:]]+")
